@font-face {
    font-family: 'Helvetica Neue';
    src: url('https://alfi111.github.io/project/store/') format('otf'),
         url('https://alfi111.github.io/project/store/') format('otf');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
	overflow-x: hidden;
}

.container {
	max-width: 390px;
}

.inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 220px 220px 200px;
}

.img {
	width: 130px;
}

.item {
	padding-top: 10px;
	position: relative;
	text-align: center;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	background: rgb(248, 168, 24);
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;

	transition: background .3s linear;
}

.btn:hover {
	background: rgb(0, 210, 0);
}

.usercard {
	text-align: center;
}


.minus {
	display: inline-block;
	padding: 6px 20px;
	border: none;
	background: rgb(248, 0, 0);
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14pt;

	transition: background .3s linear;
}

.plus {
	display: inline-block;
	padding: 6px 20px;
	border: none;
	background: rgb(248, 168, 24);
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14pt;

	transition: background .3s linear;
}

.descript {
	margin-top: -10px;
	margin-bottom: 10px
}

.name {
	font-family: 'Open Sans';
	display: block;
	color: red;
	text-align: center;
	font-size: 16px;
	font-weight: 700;

}

.price {
	display: block;
	color: red;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
}

.buttonCountNumber {
	display: none;
	position: absolute;
	right: 25px;
	top: 10px;
	border: none;
	border-radius: 12px;
	background: rgb(248, 168, 24);
	padding: 3px 7px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	z-index: 10;
}



/*
var(--tg-theme-bg-color)
var(--tg-theme-text-color)
var(--tg-theme-hint-color)
var(--tg-theme-link-color)
var(--tg-theme-button-color)
var(--tg-theme-button-text-color)
*/
