@font-face {
	font-family: 'Open Sans';
	src: url(../font/Open Sans.ttf); 
}

body { 
	margin: 0;
	padding: 0;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
	overflow-x: hidden;
    	overflow-y: hidden;
}

.board {
    position: relative;
    width: auto;
    margin: 5px 10px 10px 20px;
}
.position span {
	text-align: center;
	width: auto;
    	margin: 10px 10px 10px 10px;
}
.info {
    width: auto;
    margin: 10px 10px 10px 10px;
}

.move-history {
    height: 80px;
    max-width: 100%;
    overflow-y: scroll;
    margin: 10px 10px 10px 10px;
/*     border: 1px solid black; */
	padding-left: 10px
}
