@font-face {
	font-family: 'Open Sans';
	src: url(../font/Open Sans.ttf); 
}

body { 
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
	overflow-x: hidden;
    overflow-y: hidden;
}

.board {
    position: relative;
    width: 370px;
    margin: 5px 10px 10px 10px;
}

.info {
    width: 370px;
    margin: 25px 10px 10px 10px;
}

.move-history {
    height: 100px;
    max-width: 370px;
    overflow-y: scroll;
    margin: 10px 10px 10px 10px;
    border: 1px solid black;
}
